.button {
	padding: 5px 12px;
	border-radius: 10px;
	text-decoration: none;
	border: 1px solid black;
	background-color: black;
	color: white;
	cursor: pointer;
}
.button:hover {
	border-color: grey;
	background-color: grey;
}
.add {
	border: 1px solid green;
	background-color: green;
	color: white;
}
.add:hover {
	border: 1px solid darkgreen;
	background-color: darkgreen;
}
.remove {
	border: 1px solid red;
	background-color: red;
	color: white;
}
.remove:hover {
	border: 1px solid darkred;
	background-color: darkred;
}
label {
	font-weight: bold;
	margin-right: 10px;
}
table.productTable img {
	max-width: 250px;
	max-height: 50px;
}